.sidebar {
  margin-right: 116px;
  max-height: 56px;
  align-items: center;
}

.sidebar__user-info {
  display: flex;
}

.sidebar__avatar-image {
  width: 56px;
  height: 56px;
  border: rgba(0, 0, 0, 0.5) 1px;
  margin-right: 16px;
}

.sidebar__avatar-name {
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  white-space: nowrap;
}

.sidebar__options {
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.sidebar__options:hover {
  cursor: pointer;
  opacity: 0.8;
}
