.card {
  position: relative;
}

.card_name {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  background-size: contain;
  position: relative;
  top: -311px;
  left: -10px;
  width: fit-content;
  height: fit-content;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  margin: auto;
  font-family: "CabinetGrotesk-Medium";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.card_image {
  width: 325px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card_image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card_like-button {
  position: relative;
  top: -287px;
  left: -120px;
  width: 18px;
  height: 15px;
}

.card_like-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
