.main {
  padding: 0 40px;
}

.card_section {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.2;
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
