.weather {
  position: relative;
}

.weather_info {
  position: absolute;
  top: 10px;
  left: 16px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  height: 40px;
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
}

.weather_image {
  width: 100%;
}
