.modal_item-close-button {
  background: url(../../images/close_button-item.svg) transparent center
    no-repeat;
  border: none;
  width: 16px;
  height: 16px;
  position: relative;
  top: 24px;
  left: 456px;
  z-index: 1;
}

.modal_item-close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal_content-image {
  background-color: white;
  max-width: 496px;
  max-height: 610px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 0;
}

.modal_image {
  margin: 0;
  height: 496px;
  width: 496px;
  border-radius: 16px 16px 0 0;
  position: relative;
  top: -20px;
}

.modal_description-section {
  display: flex;
  justify-content: space-between;
}

.modal_description {
  font-size: 20px;
  line-height: 1.2;
  margin-left: 32px;
  margin-bottom: 20px;
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
}

.modal_delete-button {
  color: red;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 32px;
  margin-bottom: 20px;
  font-family: "CabinetGrotesk-Bold", "Arial Narrow", Arial, sans-serif;
}
.modal_delete-button_visible {
  visibility: visible;
}

.modal_delete-button_hidden {
  visibility: hidden;
}

.modal_delete-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
